<div>
    <div style='text-align: center; font-size: 20px; padding-bottom: 20px; padding-top: 15px;'>Abusive Behaviour Policy</div>
    <div>
        This Abusive Behavior Policy is applicable to the Windshieldink website, all related affiliates, sub-domains and sub-directories and Windshieldink Corp. (hereinafter referred to as “Windshieldink”).
        <br>BY ACCESSING THE WEBSITE AND/OR USING THE WINDSHIELDINK SERVICE YOU ACCEPT ALL TERMS AND CONDITIONS OF THE ABUSIVE BEHAVIOR POLICY. IF YOU DO NOT AGREE WITH THE TERMS AND CONDITIONS OF THE ABUSIVE BEHAVIOR POLICY, YOU MUST IMMEDIATELY CEASE USING AND ACCESSING THE SERVICES.
		<br>Windshieldink provides a communication platform which encompasses a variety of users with varying perspectives. Windshieldink does not condone or endorse the use of its website and services for the purposes of abusive behavior, threats, etc. Targeted abuse, mistreatment and harassment is a violation of the Abusive Behavior Policy and Terms of Service.
		<br>Users may not, directly or indirectly, make threats of violence against others, including but not limited to threats against a person on the basis of race, ethnicity, national origin, religion, sexual orientation, gender, gender identity, age, or disability through the Windshieldink system or platform.
		<br>Users are permitted to send messages to other users, which may include potentially inflammatory content, provided they do not violate Windshieldink's Terms of Service. Windshieldink does not screen or monitor message content. As a policy, Windshieldink does not mediate content or intervene in disputes between users.
		<br>Users that do not adhere to the Abusive Behavior Policy or the Windshieldink Terms of Service will have their registration terminated and blocked from any and all access to Windshieldink and the services it provides.
		<br>Users can, and are encouraged to, report any behavior or content that they believe is abusive to Windshieldink.
    </div>
    <div style='font-size: 17px; padding-top: 10px; padding-bottom: 10px;'>Threats and Abuse</div>
    <div>
    	If you believe you are in any danger, you should immediately contact your local law enforcement authority and notify Windshieldink of the content to ensure the situation is be addressed immediately both online and offline.
		<br>If you believe the behavior you are reporting is prohibited within your local jurisdiction, please contact the local authorities so they can accurately assess the content or behavior for potential violation of local laws. If Windshieldink is contacted directly by law enforcement, we will provide all necessary assistance for their investigation and guidance for options.
    </div>
    <div style='font-size: 17px; padding-top: 10px; padding-bottom: 10px;'>Offensive Content</div>
    <div>
    	Windshieldink views as offensive content any content that encourages or endorses discrimination based on race, color, religion, creed, sex, sexual orientation, gender identity, national origin, ancestry, age, or disability).
		<br>Windshieldink reserves the right to amend this Abusive Behavior Policy from time to time. The current Abusive Behavior Policy will be available at all times at Windshieldink.com. If the revision, in our sole discretion, is material we will notify you via a Windshieldink update or e-mail to the email address associated with your account. By continuing to access or use the Services after any revisions come into effect, you agree to be bound by the Abusive Behavior Policy as revised or amended from time to time.
		<br>The foregoing policies are effective as of August 19, 2015.
    </div>
</div>