Dear {{ to_name }}
<br><br>
A Windshieldink user has informed us of abusive communication received from your account on {{ abusive_date }}.
<br><br>
We take all user concerns seriously and will be investigating this matter further.
<br><br>
It is our goal that Windshieldink users remain courteous and non-confrontational when communicating with other users.
<br><br>
Our policy is to terminate and remove abusive users from our community.
<br><br>
Sincerely,
<br><br>
Your Windshieldink Team
<br><br>
<div style="width: 100%;text-align: center;">
Questions? E-mail <a href="#">abuse@windshieldink.com</a>
</div>
