Dear {{ display_name }},
<br><br>
Your Windshieldink password has been reset to: {{ new_password }};
<br><br>
Please log into your account with this password and go to profile settings to change your password.
<br><br>
Sincerely,
<br><br>
Windshieldink Support
<br><br>
Please do not reply to this message.
<br><br>
Powered by Windshieldink (windshieldink.com).
<br><br>
<div style="width: 100%;text-align: center;">
Need Help? E-mail support@windshieldink.com
<br/>
Visit us at <a href="http://windshieldink.com">windshieldink.com</a>
</div>
