{% load static %}
{% load staticfiles %}

<nav class="navbar user-info-navbar" role="navigation">
    <ul class="user-info-menu  left-links list-inline list-unstyled">
        <li class="hidden-sm hidden-xs" style="min-height: 76px;">
            <a href="#" data-toggle="sidebar">
                <i class="fa-bars"></i>
            </a>
        </li>
    </ul>
    <!-- Right links for user info navbar -->
    <ul class="user-info-menu right-links list-inline list-unstyled">

        <li class="dropdown user-profile">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="{% static 'images/user-4.png' %}" alt="user-image" class="img-circle img-inline userpic-32"
                     width="28"/>
							<span>
								{{ request.user.email }}
								<i class="fa-angle-down"></i>
							</span>
            </a>

            <ul class="dropdown-menu user-profile-menu list-unstyled">
                <li class="">
                    <a href="/admin">
                        <i class="fa fa-home"></i>
                        Django Admin Panel
                    </a>
                </li>
                <li class="last">
                    <a href="/logout">
                        <i class="fa-lock"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </li>

    </ul>

</nav>
